{% extends 'events/base.html' %}

{% block content %}
<div class="panel panel-default">
  	<div class="panel-body">
		<form action="{% url 'add' %}" method="post">
			{% csrf_token %}
			<div class="form-group">
				<h3><i class="fa fa-bookmark" aria-hidden="true"></i> Event Detail </h3>
			</div>
			<hr/>
			<div class="row">
				<div class="form-group col-md-6">
					 <label for="email">{{ eventForm.event_title.label }}</label>
					{{ eventForm.event_title }}
					<div class="error">{{ eventForm.event_title.errors }}</div>
				</div>
				<div class="form-group col-md-6">
					 <label for="email">{{ eventForm.event_date.label }}</label>
					{{ eventForm.event_date }}
					<div class="error">{{ eventForm.event_date.errors }}</div>
				</div>
			</div>
			<div class="form-group">
				<h3> <i class="fa fa-ticket"></i> Ticket Detail </h3>
			</div>
			<hr/>
			<div id="ticket-section">
				{% include "events/ticket.html" %}
			</div>
			<hr/>
			<input type="submit" class="btn btn-default pull-right" value="Add Event" />
		</form>
	</div>
</div>
<div id="ticket-sample-section" class="hide">
	{% include "events/ticket.html" %}
</div>

<script type="text/javascript">
    $(function () {
        $('.date-picker').datetimepicker({
        	format: "YYYY-MM-DD HH:mm a"
        });
    });
</script>
{% endblock %}