{% extends 'events/base.html' %}

{% block content %}
{% load ticket_list_template %}
<div class="panel panel-default">
  	<div class="panel-body">
		<form id="event-form" action="{% url 'add' %}" method="post">
			{% csrf_token %}
			<div class="form-group">
				<h3><i class="fa fa-bookmark" aria-hidden="true"></i> Event Detail </h3>
			</div>
			
			<hr/>
			<div class="row">
				<div class="form-group col-md-4">
					 <label for="email">{{ event_form.event_title.label }}</label>
					{{ event_form.event_title }}
					<div class="error">{{ event_form.event_title.errors }}</div>
				</div>
				<div class="form-group col-md-3">
					 <label for="email">{{ event_form.event_start_date.label }}</label>
					 <div class="input-group date" id="event-start-date-picker">
						{{ event_form.event_start_date }}
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
	                    </span>
					 </div>
					<div class="error">{{ event_form.event_start_date.errors }}</div>
				</div>
				<div class="form-group col-md-3">
					 <label for="email">{{ event_form.event_end_date.label }}</label>
					 <div class="input-group date" id="event-end-date-picker">
						{{ event_form.event_end_date }}
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
	                    </span>
					 </div>
					<div class="error">{{ event_form.event_end_date.errors }}</div>
				</div>
				<div class="form-group col-md-2">
					<label for="email">&nbsp;</label>
					<div><button id="add-ticket-button" type="button" class="btn btn-primary"  onclick="addTicket()" ><i class="fa fa-plus"></i> Add Ticket</button></div>
				</div>
			</div>
			<div class="form-group">
				<h3> <i class="fa fa-ticket"></i> Ticket Detail </h3>
			</div>
			<hr/>
			<div id="ticket-section">
				{% if ticket_list %}
					{% for ticket in ticket_list %}
						{% ticket_list_template ticket.ticket_id ticket.ticket_title ticket.ticket_price ticket.ticket_start_date ticket.ticket_end_date%}
					{% endfor %}
				{% else %}
					<div align="center" class="initial-message"><b>Ticket Goes Here</b></div>
				{% endif %}		
			</div>
			<hr/>
			<div align="right">
				<button type="button" class="btn btn-primary" onclick="addConfirmation()">
					<i class="fa fa-plus" aria-hidden="true"></i> Add Event
				</button>&nbsp;
				<a href="{% url 'list' %}">
					<button type="button" class="btn btn-warning">
						<i class="fa fa-close" aria-hidden="true"></i> Cancel Event
					</button>
				</a>
			</div>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	$(function () {
		{% if message %}
    		bootbox.alert({
				title: "<h3>Error</h3>",
				message : "<h3>{{ message }}</h3>", 
				
			})
    	{% endif %}

        initializeEventDatePicker();

	    {% if ticket_list %}
	    	$("#add-ticket-button").attr('disabled', false);
			{% for ticket in ticket_list %}
				initializeTicketDatePicker("{{ ticket.ticket_id }}", moment("{{ ticket.ticket_start_date|date:'m-d-Y h:i A' }}", "MM-DD-YYYY hh:mm A"), moment($("#id_event_end_date").val(), "MM-DD-YYYY hh:mm A"));
			{% endfor %}
		{% endif %}	
    });
</script>
{% endblock %}