{% extends 'events/base.html' %}

{% block content %}
<table class="table table-bordered">
	<tr>
		<td colspan="4">
			<button type="button" class="btn btn-primary pull-right">
				<a href="{% url 'list' %}">
					<i class="fa fa-arrow-left" aria-hidden="true"></i> Back
				</a>
			</button>
		</td>
	</tr>
	{% for event in event_detail %}
		<tr>
			<th>Event Title</th>
			<td>{{ event.event_title }}</td>
		</tr>
		<tr>
			<th>Event Date</th>
			<td><span class="label label-primary">{{ event.event_start_date|date:"M,d Y h:i A" }}</span> - <span class="label label-primary">{{ event.event_end_date|date:"M,d Y h:i A" }}</span> </td>
		</tr>
	{% endfor %}
		<tr class="sub-title"><th colspan="2"> Ticket Detail </th></tr>
		<tr>
			<td colspan="2">
				<table class="table">
					<thead>
						<tr>
							<th>Ticket Title</th>
							<th>Ticket Price($)</th>
							<th>Sale Start Dates</th>
							<th>Sale End Date</th>
						</tr>
					</thead>	
					{% if ticket_detail %}
						{% for ticket in ticket_detail %}
							<tr>
								<td>{{ ticket.ticket_title }}</td>
								<td>{{ ticket.ticket_price }}</td>
								<td><span class="label label-primary">{{ ticket.sale_start_date|date:"M,d Y h:i A" }}</span></td>
								<td><span class="label label-primary">{{ ticket.sale_end_date|date:"M,d Y h:i A" }}</span></td>
							</tr>
						{% endfor %}
					{% else %}
						<tr><td colspan="3"><div align="center"><b>No Ticket Found</b></div></td></tr>
					{% endif %}	
				</table>
			</td>
		</tr>	
</table>
{% endblock %}