{% extends 'events/base.html' %}

{% block content %}
{% load ticket_list_template %}
<div class="panel panel-default">
  	<div class="panel-body">
		<form id="event-form" action="{% url 'edit' event_id %}" method="post">
			{% csrf_token %}
			<div class="form-group">
				<h3><i class="fa fa-bookmark" aria-hidden="true"></i> Event Detail </h3>
				<div class="error expired-event-msg hide">You can't edit this event as it has been expired</div>
			</div>
			<hr/>
			<div class="row">
				<div class="form-group col-md-4">
					<label for="email">Event Title</label>
					<input type="text" class="form-control title" id="id_event_title" name="event_title" required="" placeholder="Ticket Title" value="{{ event_data.event_title }}"/>
					<div class="error"></div>
				</div>
				<div class="form-group col-md-3">
					<label for="email">Event Start Date</label>
					<div class='input-group date' id="event-start-date-picker">
						<input type="text" class="form-control date-picker picker-input" id="id_event_start_date" name="event_start_date" required="" value="{{ event_data.event_start_date|date:'m-d-Y H:i' }}"/>
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
	                    </span>
                    </div>
					<div class="error"></div>
				</div>
				<div class="form-group col-md-3">
					<label for="email">Event End Date</label>
					<div class='input-group date' id="event-end-date-picker">
						<input type="text" class="form-control date-picker picker-input" id="id_event_end_date" name="event_end_date" required="" value="{{ event_data.event_end_date|date:'m-d-Y H:i' }}"/>
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
	                    </span>
                    </div>
					<div class="error"></div>
				</div>
				<div class="form-group col-md-2">
					<label for="email">&nbsp;</label>
					<div><button id="add-ticket-button" type="button" class="btn btn-primary add-button"  onclick="addTicket()" ><i class="fa fa-plus"></i> Add Ticket</button></div>
				</div>
			</div>
			<div class="form-group">
				<h3> <i class="fa fa-ticket"></i> Ticket Detail </h3>
			</div>
			<hr/>
			<div id="ticket-section">
				{% if ticket_list %}
					{% for ticket in ticket_list %}
						{% ticket_list_template ticket.ticket_id ticket.ticket_title ticket.ticket_price ticket.ticket_start_date ticket.ticket_end_date%}
					{% endfor %}
				{% else %}
					<div align="center" class="initial-message"><b>Ticket Goes Here</b></div>
				{% endif %}		
			</div>
			<hr/>
			<div align="right">
				<button type="button" class="btn btn-primary update-button" onclick="editConfirmation()">
					<i class="fa fa-plus" aria-hidden="true"></i> Update Event
				</button>&nbsp;
				<a href="{% url 'list' %}">
					<button type="button" class="btn btn-warning">
						<i class="fa fa-arrow-left" aria-hidden="true"></i> Back 
					</button>
				</a>
			</div>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	
    $(function () {
    	{% if message %}
    		bootbox.alert({
				title: "<h3>Error</h3>",
				message : "<h3>{{ message }}</h3>", 
				
			})
    	{% endif %}
    	var eventStartDate = moment("{{ event_data.event_start_date|date:'m-d-Y h:i A' }}", "MM-DD-YYYY hh:mm A");
    	var eventEndDate = moment("{{ event_data.event_end_date|date:'m-d-Y h:i A' }}", "MM-DD-YYYY hh:mm A");

    	if (moment() <= eventStartDate) {
    		$("#id_event_start_date").attr('readonly', true);
    	}	

    	if (moment() < eventEndDate) {
	        initializeEventDatePicker(eventStartDate, eventEndDate);

		    if($("#id_event_end_date").val()) {
			    {% if ticket_list %}
					{% for ticket in ticket_list %}
						initializeTicketDatePicker("{{ ticket.ticket_id }}", moment("{{ ticket.ticket_start_date|date:'m-d-Y h:i A' }}", "MM-DD-YYYY hh:mm A"), eventEndDate);
					{% endfor %}
				{% endif %}		
			}	
		} else {
			$('.title').attr('readonly', true);
			$("#id_event_start_date").attr('readonly', true);
			$("#id_event_end_date").attr('readonly', true);
			$('.ticket-date-picker').attr('readonly', true);
			$('.add-button').attr('disabled', true);
			$('.delete-button').attr('disabled', true);
			$('.update-button').attr('disabled', true);
			if ($("#id_event_date").val())
				$('.expired-event-msg').removeClass('hide');
		}
    });
</script>
{% endblock %}