{% extends 'events/base.html' %}

{% block content %}
<table class="table table-bordered">
	<tr>
		<td colspan="4">
			<a href="{% url 'add' %}">
				<button type="button" class="btn btn-primary pull-right">
					<i class="fa fa-plus" aria-hidden="true"></i> Add Event
				</button>
			</a>
		</td>
	</tr>
	<tr>
		<th>#</th>
		<th>Event Title</th>
		<th>Event Date</th>
		<th>Action</th>
	</tr>
	{% if event_list %}
		{% for event in event_list %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>{{ event.event_title }}</td>
				<td><span class="label label-primary">{{ event.event_start_date|date:"M,d Y h:i A" }}</span> - <span class="label label-success">{{ event.event_end_date|date:"M,d Y h:i A" }}</span> </td>
				<td>
					<a href="{% url 'detail' event.id %}"><button type="button" class="btn btn-info btn-xs">
							<i class="fa fa-sticky-note-o" aria-hidden="true"></i> Detail
						
					</button></a>
					<a href="{% url 'edit' event.id %}"><button type="button" class="btn btn-primary btn-xs">
						
							<i class="fa fa-edit" aria-hidden="true"></i> Edit
						
					</button></a>
					<button type="button" class="btn btn-danger btn-xs" onclick="deleteEvent({{ event.id }})">
						<i class="fa fa-close" aria-hidden="true"></i> Delete
					</button>
				</td>
			</tr>
		{% endfor %}
	{% else %}
		<tr><td colspan="5"><div align="center"><b>No Event Found</b></div></td></tr>
	{% endif %}
	<tr>
		<td colspan="4">&nbsp;</td>
	</tr>
</table>
{% endblock %}