{% extends 'events/base.html' %}

{% block content %}
	<div class="panel panel-default">
	  	<div class="panel-body" align="center" style="margin-top: 100px;height: 200px">
	  		<h1>Server Error</h1>
	  		<div class="row"  align="left" style="margin-top:80px;">
				<div class="col-md-10">&nbsp;</div> 
				<div class="col-md-2">
					<button type="button" class="btn btn-primary pull-right"><a href="{% url 'list' %}"><i class="fa fa-list" aria-hidden="true"></i> Go To List</a></button>
				</div> 
			</div>
	  	</div>
  	</div>
{% endblock %}