{% extends 'events/base.html' %}
{% block content %}
	<div class="alert alert-success">
		<div align="center" style="margin-top: 10%;margin-bottom: 10%"><h2>{{ message }}</h2></div>
		<div class="row"  align="left">
			<div class="col-md-10">&nbsp;</div> 
			<div class="col-md-2">
				<button type="button" class="btn btn-primary pull-right"><a href="{% url 'list' %}"><i class="fa fa-list" aria-hidden="true"></i> Go To List</a></button>
			</div> 
		</div>
	</div>
{% endblock %}