<div class="form-group row">
	<div class="col-md-3">{{ ticketForm.ticket_title }}</div>
	<div class="col-md-3">{{ ticketForm.ticket_start_date }}</div>
	<div class="col-md-3">{{ ticketForm.ticket_end_date }}</div>
	<div class="col-md-3">
		<button class="btn btn-primary"  onclick="addTicket(this)"><i class="fa fa-plus"></i> Add Ticket</button>
	</div>
</div>
