<div class="form-group row" id="ticket-section-{{ ticket_id }}">
		<div class="col-md-3">
			<input type="text" class="form-control title" id="ticket-title-{{ ticket_id }}" name="ticket[][ticket_title]" required="" placeholder="Ticket Title" value="{{ ticket_title }}"/>
		</div>
		<div class="col-md-2">
			<div class="input-group">
			<div class="input-group-addon">$</div>
			<input type="number" class="form-control price" id="ticket-price-{{ ticket_id }}" name="ticket[][ticket_price]" required="" placeholder="Ticket Price" value="{{ ticket_price }}"/>
			</div>
		</div>
		<div class="col-md-3">
			<div class="input-group date" id="ticket-start-date-{{ ticket_id }}" >
				<input type="text" class="form-control ticket-date-picker picker-input"  id="id-ticket-start-date-{{ ticket_id }}"  name="ticket[][ticket_start_date]" required="true" placeholder="Ticket Start Date" value="{{ ticket_start_date|date:'m-d-Y H:i a' }}"/>
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
		    </span>
		  </div>
		</div>
		<div class="col-md-3">
			<div class="input-group date end-date-picker" id="ticket-end-date-{{ ticket_id }}" >
				<input type="text" class="form-control ticket-date-picker picker-input" id="id-ticket-end-date-{{ ticket_id }}" name="ticket[][ticket_end_date]" required="true" placeholder="Ticket End Date" value="{{ ticket_end_date|date:'m-d-Y H:i a' }}"/>
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
		    </span>
		  </div>
		</div>
		<div class="col-md-1" align="left">
			<button type="button" class="btn btn-danger delete-button"  onclick="deleteTicket(this, {{ ticket_id }})">
				<i class="fa fa-close"></i> Delete
			</button>
		</div>


</div>

