.error{
	color:red;
}

.error ul{
	list-style: none !important;
}

.hide{
	display: none;
}

.page-header, .sub-title{
	background-color:#417690 !important;
	color:white;
	margin:0px !important;
	padding: 2px;
}	

.content{
	padding-top:20px !important;
}

a, i{
	color:white !important;
}

.bootstrap-datetimepicker-widget a{
	color:#337ab7 !important;
}

.alert-success{
	color: black !important;
}

.error-field{
	border:1px solid red !important;
}